body{
    margin:0;
    padding:10px;
}
.container-one {
    background-color:white;
    border: 5px solid black;
    width: 95%;
    height:30vh;
    margin: 20px auto;
}
.rectangle-one {
    background-color: #A218E7;
    width: 35px;
    height: 75%;
    margin-top: 40px;
    margin-left: 10px;
    display: inline-block;
}
.rectangle-two {
    background-color: #1C932A;
    width: 400px;
    height: 90%;
    margin-left: 50px;
    display: inline-block;
}

.circle {
    background-color: #7FD8EE;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-left: 50px;
    display: inline-block;
}

.container-two{
    background-color:white;
    border: 4px dotted black;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 25px;
}

.shadow-rectangle {
    background-color:#FCF2C1; 
    width: 100%;
    height: 150px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.container-three {
    background-color: white;
    padding: 69px;
    margin: 25px auto;
    width:50vw;
    height: 35vh;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
}
.container-three h1{
    width: 100%;
    text-align: center;
    color: #0A0A59 ; 
    letter-spacing: 7px;
    margin-bottom: 73px
}